<a href="https://colab.research.google.com/github/TkhR-A/colabo/blob/master/sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
 import sqlite3

 # データベースに接続 --- (*1)
 conn = sqlite3.connect("ejdict.sqlite3")
 c = conn.cursor()

 # SQLでデータを10件取り出す --- (*2)
 sqlq = 'SELECT * FROM items LIMIT 10'
 sql = 'SELECT * FROM items WHERE word LIKE "apple%
  " '
 rows = c.execute(sql)
 # 取り出した10件を一つずつ表示 --- (*3)
 for n in rows:
     print(n)

(1933, 'apple', '『リンゴ』;リンゴの木', 1)
(1934, 'apple butter', 'リンゴジャム(リンゴに香料・砂糖を加えて煮つめたジャム)', 0)
(1935, 'apple green', '澄んだ淡い緑色', 0)
(1936, 'apple-pie-order', '《話》整然とした状態,秩序整然', 0)
(1937, 'apple-polish', "(贈物などで)〈人〉‘の'きげんをとる,‘に'取り入る / 人のきげんをとる,へつらう", 0)
(1938, 'applecart', 'リンゴ売りの手押し車', 0)
(1939, 'applejack', '《米》リンゴブランデー(発酵させたリンゴ酒を蒸溜して作る)', 0)
(1940, 'applesauce', 'リンゴソース(リンゴをつぶして甘く煮たもの)', 0)

In [0]:
import sqlite3

# TEST.dbを作成する
# すでに存在していれば、それにアスセスする。
dbname = 'TEST.db'
conn = sqlite3.connect(dbname)

# データベースへのコネクションを閉じる。(必須)
conn.close()

In [0]:
import sqlite3

dbname = 'TEST.db'
conn = sqlite3.connect(dbname)
# sqliteを操作するカーソルオブジェクトを作成
cur = conn.cursor()

# personsというtableを作成してみる
# 大文字部はSQL文。小文字でも問題ない。
cur.execute(
    'CREATE TABLE persons(id INTEGER PRIMARY KEY AUTOINCREMENT , name STRING)'
)

# データベースへコミット。これで変更が反映される。
conn.commit()
conn.close()

In [0]:
import sqlite3

dbname = 'TEST.db'
conn = sqlite3.connect(dbname)
cur = conn.cursor()

# "name"に"Taro"を入れる
cur.execute('INSERT INTO persons(name) values("Taro")')
# 同様に
cur.execute('INSERT INTO persons(name) values("Hanako")')
cur.execute('INSERT INTO persons(name) values("Hiroki")')

conn.commit()

cur.close()
conn.close()

In [16]:
import sqlite3

dbname = 'TEST.db'
conn = sqlite3.connect(dbname)
cur = conn.cursor()

# terminalで実行したSQL文と同じようにexecute()に書く
cur.execute('SELECT * FROM persons')

# 中身を全て取得するfetchall()を使って、printする。
print(cur.fetchall())

cur.close()
conn.close()

[(1, 'Taro'), (2, 'Hanako'), (3, 'Hiroki'), (4, 'Taro'), (5, 'Hanako'), (6, 'Hiroki')]